*

!.gitignore

!.editorconfig

!LICENSE

!*.sh
!*.json
!*.md
!*.gpg

!*.js
!*.html
!*.css

!*/

!*/.gitignore

!*/.editorconfig

!*/LICENSE

!*/*.sh
!*/*.json
!*/*.md
!*/*.gpg

!*/*.js
!*/*.html
!*/*.css

package-lock.json

node_modules
node_modules/**/*.*
